Help understanding columns: https://www.costar.com/about/costar-glossary

In [27]:
import openpyxl
import pandas as pd

df = pd.read_excel("../CoStar LA Multifamily For Taylor Cleaned (1).xlsx")

In [28]:
df.head()

,Property Address,Property Name,Number Of Units,Star Rating,Building Class,Market Name,City,State,Zip,Vacancy %,...,Owner Contact,Owner Name,Owner Phone,Recorded Owner Address,Recorded Owner City State Zip,Recorded Owner Name,Recorded Owner Phone,RBA,Taxes Total,Zoning
0,500 W 7th St,The Mandel,55,4.0,A,Los Angeles,Los Angeles,CA,90014-2502,5.86,...,Moussa Peyker,Moussa & Mary Peykar,3.238744e+09,425 Pico Blvd,"Los Angeles, CA 90015",Peykar Moussa & Mary,NaN,61824.0,NaN,"C2, Los Angeles"
1,5937-5957 Avalon Blvd,NaN,22,2.0,C,Los Angeles,Los Angeles,CA,90003-1343,3.00,...,NaN,Mid-Wilshire Management & Investment Group,2.133823e+09,3660 Wilshire Blvd Suite # 530,"Los Angeles, CA 90010-2719",Royal LLC,2.133823e+09,22922.0,NaN,CM
2,301 S Kenmore Ave,The Kenmore,63,3.0,C,Los Angeles,Los Angeles,CA,90020,0.67,...,Jason Hoffman,Jason Hoffman,9.493288e+09,8 Notchbrook Ln,"Ladera Ranch, CA 92694-1027",Flint 301 S Kenmore LLC,NaN,48168.0,NaN,C2
3,901 S Broadway,Blackstone Luxury Apartments,82,3.0,B,Los Angeles,Los Angeles,CA,90015-2085,0.17,...,NaN,Neighborhood Effort,8.182851e+09,901 S Broadway,"Los Angeles, CA 90015-2085",901 South Broadway,NaN,91020.0,NaN,LAC2
4,8 Brooks Ave,Venice Beach Art Lofts,19,3.0,B,Los Angeles,Venice,CA,90291,3.62,...,NaN,Goldcoast Properties,3.104521e+09,8 Brooks Ave,"Venice, CA 90291-3226",8 Brooks Avenue Ii Llc,NaN,19705.0,NaN,"C1-1, Los Angeles"

In [29]:
df.columns

Index(['Property Address', 'Property Name', 'Number Of Units', 'Star Rating',
       'Building Class', 'Market Name', 'City', 'State', 'Zip', 'Vacancy %',
       'Year Built', 'Number Of Stories', 'Land Area (AC)', 'Last Sale Date',
       'Last Sale Price', 'Latitude', 'Longitude', 'Owner Address',
       'Owner City State Zip', 'Owner Contact', 'Owner Name', 'Owner Phone',
       'Recorded Owner Address', 'Recorded Owner City State Zip',
       'Recorded Owner Name', 'Recorded Owner Phone', 'RBA', 'Taxes Total',
       'Zoning'],
      dtype='object')

In [30]:
df['Owner Phone'] = df['Owner Phone'].astype(str)
df['Recorded Owner Phone'] = df['Recorded Owner Phone'].astype(str)
df = df.rename(columns = {"RBA": "Rentable Building Area"})
df.head()

,Property Address,Property Name,Number Of Units,Star Rating,Building Class,Market Name,City,State,Zip,Vacancy %,...,Owner Contact,Owner Name,Owner Phone,Recorded Owner Address,Recorded Owner City State Zip,Recorded Owner Name,Recorded Owner Phone,Rentable Building Area,Taxes Total,Zoning
0,500 W 7th St,The Mandel,55,4.0,A,Los Angeles,Los Angeles,CA,90014-2502,5.86,...,Moussa Peyker,Moussa & Mary Peykar,3238744180.0,425 Pico Blvd,"Los Angeles, CA 90015",Peykar Moussa & Mary,nan,61824.0,NaN,"C2, Los Angeles"
1,5937-5957 Avalon Blvd,NaN,22,2.0,C,Los Angeles,Los Angeles,CA,90003-1343,3.00,...,NaN,Mid-Wilshire Management & Investment Group,2133823433.0,3660 Wilshire Blvd Suite # 530,"Los Angeles, CA 90010-2719",Royal LLC,2133823433.0,22922.0,NaN,CM
2,301 S Kenmore Ave,The Kenmore,63,3.0,C,Los Angeles,Los Angeles,CA,90020,0.67,...,Jason Hoffman,Jason Hoffman,9493287975.0,8 Notchbrook Ln,"Ladera Ranch, CA 92694-1027",Flint 301 S Kenmore LLC,nan,48168.0,NaN,C2
3,901 S Broadway,Blackstone Luxury Apartments,82,3.0,B,Los Angeles,Los Angeles,CA,90015-2085,0.17,...,NaN,Neighborhood Effort,8182850616.0,901 S Broadway,"Los Angeles, CA 90015-2085",901 South Broadway,nan,91020.0,NaN,LAC2
4,8 Brooks Ave,Venice Beach Art Lofts,19,3.0,B,Los Angeles,Venice,CA,90291,3.62,...,NaN,Goldcoast Properties,3104521200.0,8 Brooks Ave,"Venice, CA 90291-3226",8 Brooks Avenue Ii Llc,nan,19705.0,NaN,"C1-1, Los Angeles"

In [31]:
import plotly.express as px

fiveDigitZips = df['Zip'].astype(str).apply(lambda x: x[:5])
zipVC = fiveDigitZips.value_counts().head(20)
fig = px.pie(fiveDigitZips, values=zipVC.values, names=zipVC.index)
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
#building a dataframe for linear regression

mldf = df[['Number Of Units', 'Star Rating', 'Building Class', 'City', 'Vacancy %', 'Year Built', 'Number Of Stories', 'Land Area (AC)', 'Rentable Building Area', 'Last Sale Price']]
mldf.dropna(axis=0, inplace=True)
mldf.head()

/var/folders/0w/6ftn9k6x7gd02mptrz7rk85w0000gp/T/ipykernel_80487/889475751.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Number Of Units,Star Rating,Building Class,City,Vacancy %,Year Built,Number Of Stories,Land Area (AC),Rentable Building Area,Last Sale Price
0,55,4.0,A,Los Angeles,5.86,1917,4.0,0.7900,61824.0,7500000.0
1,22,2.0,C,Los Angeles,3.00,1920,2.0,0.3700,22922.0,4195000.0
2,63,3.0,C,Los Angeles,0.67,1915,4.0,0.3411,48168.0,10975000.0
4,19,3.0,B,Venice,3.62,1921,4.0,0.1500,19705.0,1708000.0
5,59,3.0,B,Los Angeles,3.36,1917,5.0,0.3011,28156.0,7940000.0

In [ ]:
mldf = pd.get_dummies(mldf, columns=['City', "Building Class"])
mldf.head()

,Number Of Units,Star Rating,Vacancy %,Year Built,Number Of Stories,Land Area (AC),Rentable Building Area,Last Sale Price,City_Acton,City_Agoura Hills,...,City_West Hollywood,City_West Toluca Lake,City_Whittier,City_Wilmington,City_Winnetka,City_Woodland Hills,Building Class_A,Building Class_B,Building Class_C,Building Class_F
0,55,4.0,5.86,1917,4.0,0.7900,61824.0,7500000.0,False,False,...,False,False,False,False,False,False,True,False,False,False
1,22,2.0,3.00,1920,2.0,0.3700,22922.0,4195000.0,False,False,...,False,False,False,False,False,False,False,False,True,False
2,63,3.0,0.67,1915,4.0,0.3411,48168.0,10975000.0,False,False,...,False,False,False,False,False,False,False,False,True,False
4,19,3.0,3.62,1921,4.0,0.1500,19705.0,1708000.0,False,False,...,False,False,False,False,False,False,False,True,False,False
5,59,3.0,3.36,1917,5.0,0.3011,28156.0,7940000.0,False,False,...,False,False,False,False,False,False,False,True,False,False

In [ ]:
target = mldf['Last Sale Price']
features = mldf.loc[:, mldf.columns != "Last Sale Price"]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.25)

In [ ]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [ ]:
from sklearn.metrics import mean_absolute_error

y_hat = lr.predict(x_test)
mae = mean_absolute_error(y_test, y_hat) #how much am I off on average?

In [ ]:
#add values

test_total = pd.concat([x_test, y_test], axis=1)
test_total["Predicted Price"] = y_hat
test_total["Difference"] = test_total["Last Sale Price"] - test_total["Predicted Price"]
test_total["Difference %"] = test_total["Difference"] / test_total["Last Sale Price"]
test_total.head()

,Number Of Units,Star Rating,Vacancy %,Year Built,Number Of Stories,Land Area (AC),Rentable Building Area,City_Acton,City_Agoura Hills,City_Alhambra,...,City_Winnetka,City_Woodland Hills,Building Class_A,Building Class_B,Building Class_C,Building Class_F,Last Sale Price,Predicted Price,Difference,Difference %
12600,16,2.0,2.75,1988,2.0,0.3091,15352.0,False,False,False,...,False,False,False,False,True,False,2500000.0,3.775770e+06,-1.275770e+06,-0.510308
9021,35,2.0,1.87,1973,3.0,0.4340,31665.0,False,False,False,...,False,False,False,False,True,False,1890000.0,5.075914e+06,-3.185914e+06,-1.685669
5151,102,2.0,0.52,1963,2.0,3.7469,106660.0,False,False,False,...,False,False,False,False,True,False,19168000.0,1.615687e+07,3.011129e+06,0.157091
2634,19,2.0,4.29,1961,2.0,0.2961,13170.0,False,False,False,...,False,False,False,False,True,False,4025000.0,1.267182e+06,2.757818e+06,0.685172
10237,32,2.0,1.54,1979,2.0,0.7350,22810.0,False,False,False,...,False,False,False,False,True,False,6000000.0,2.028794e+06,3.971206e+06,0.661868

In [ ]:
test_total_pos = test_total[test_total["Difference"] <= -1*mae] #find properties that are selling for less than their worth, with a difference above our mean absolute error
len(test_total_pos)

331

In [ ]:
from random import choice

fake_facts_about_someone = [
    "They once ate an entire pizza in under a minute.",
    "They can speak fluent dolphin.",
    "They have a pet unicorn named Sparkle.",
    "They hold the record for the world's longest yo-yo trick.",
    "They once traveled to Mars and back for a weekend getaway.",
    "They can predict the weather by observing the behavior of ants.",
    "They have a collection of rare and valuable rubber chickens.",
    "They won a national air guitar championship three years in a row.",
    "They have a PhD in underwater basket weaving.",
    "They are a professional snowflake photographer.",
    "They can communicate with trees using Morse code.",
    "They once swam across the Pacific Ocean without getting wet.",
    "They have a secret identity as a crime-solving detective.",
    "They can play the accordion while riding a unicycle on a tightrope.",
    "They hold the world record for the most consecutive hours spent hula hooping.",
    "They have a personal jetpack for their daily commute.",
    "They once solved a crossword puzzle in a language they don't speak.",
    "They are a champion rock-paper-scissors player.",
    "They have a collection of vintage toaster ovens from around the world.",
    "They can read minds but only when people are thinking about pizza.",
    "They once won a thumb-wrestling tournament against a robot.",
    "They have a pet rock that they take on epic adventures.",
    "They can juggle flaming marshmallows blindfolded.",
    "They hold a black belt in interpretive dance.",
    "They have a hidden talent for speaking fluent penguin.",
    "They once climbed Mount Everest on stilts.",
    "They have a collection of rare and mythical creatures as pets.",
    "They can levitate three inches off the ground at will.",
    "They once performed stand-up comedy for an audience of aliens."
]


test_total_pos["Note"] = test_total_pos.apply(lambda x: choice(fake_facts_about_someone), axis=1)
test_total_pos.head()

/var/folders/0w/6ftn9k6x7gd02mptrz7rk85w0000gp/T/ipykernel_80487/3934822291.py:36: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Number Of Units,Star Rating,Vacancy %,Year Built,Number Of Stories,Land Area (AC),Rentable Building Area,City_Acton,City_Agoura Hills,City_Alhambra,...,City_Woodland Hills,Building Class_A,Building Class_B,Building Class_C,Building Class_F,Last Sale Price,Predicted Price,Difference,Difference %,Note
12746,27,3.0,3.70,1989,3.0,0.4470,39906.0,False,False,False,...,False,False,True,False,False,1755000.0,6.578385e+06,-4.823385e+06,-2.748368,They are a professional snowflake photographer.
302,90,2.0,6.68,1955,2.0,1.9298,72910.0,False,False,False,...,False,False,False,True,False,2890000.0,1.154812e+07,-8.658116e+06,-2.995888,They hold the record for the world's longest y...
12420,62,3.0,24.20,1988,4.0,0.5169,62103.0,False,False,False,...,False,False,False,True,False,9400000.0,1.450189e+07,-5.101895e+06,-0.542755,They have a pet rock that they take on epic ad...
6835,23,2.0,7.79,1966,3.0,0.2920,19644.0,False,False,False,...,False,False,False,True,False,1650000.0,6.053906e+06,-4.403906e+06,-2.669034,They have a pet unicorn named Sparkle.
13065,42,3.0,3.21,1991,4.0,0.3891,43476.0,False,False,False,...,False,False,True,False,False,2125000.0,9.111580e+06,-6.986580e+06,-3.287802,They can communicate with trees using Morse code.

In [ ]:
from langchain.llms import OpenAI
OPENAI_API_KEY = ""
llm = OpenAI(openai_api_key=OPENAI_API_KEY)
TEST_NUMBER = 1 #set a number here to set how many rows to test bot on. -1 turns this off, performing the action for all rows


if TEST_NUMBER > 0:
    for index, row in test_total_pos.sample(n=TEST_NUMBER).iterrows():
        dfrow = df.iloc[index]
        outreach_message = llm.predict("Please use the following information about a building and it's owner to create a warm, inviting email to someone whose building I am interested in buying: "
                + "Notes about customer: " + str(row['Note'])
                + "Building City: " + str(dfrow["City"])
                + "Year Built: " + str(row["Year Built"])
                + "Owner's Name / Company: " + str(dfrow["Owner Name"]))
outreach_message

"\n\nDear [Owner's Name], \n\nMy name is [Your Name], and I am interested in the building located in Los Angeles that you own and manage. I understand it was built in 2000 and am impressed by the houseâ€™s history.\n\nI would like to inquire about the possibility of purchasing the building. I am sure that you have many interested buyers, however, I would like to discuss potential offers and what I can do to stand out from the competition.\n\nI also understand that you have a unique collection of rare and mythical creatures as pets. I have a great appreciation for animals and would love to learn more about them.\n\nI look forward to speaking with you about this opportunity.\n\nSincerely, \n[Your Name]"